<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-7"></span>
  
    <div class="container-fluid">
      <div class="header-body animated fadeIn ">
        <!-- Card stats -->

        <div class="row">
          <div class="col">
            <h1 class="display-1 text-white">Account & Billing</h1>
            <p class="text-white ">Details of your usage and billing statement.</p>
          </div>
        </div>
        <br/>
        

      </div>
    </div>
  </div>






<!--------------------
-     PAGE CONTENT  
--------------------->
<div class="container mt--7 animated fadeIn">
  <div class="">
    <div class="card bg-secondary shadow">

      <div class="card-body">
       

      </div>

    </div>
  </div>
</div>