<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-7"></span>
  
    <div class="container-fluid">
      <div class="header-body animated fadeIn ">
        <!-- Card stats -->

        <div class="row">
          <div class="col">
            <h1 class="display-1 text-white">Account & Billing</h1>
            <p class="text-white ">Details of your usage and billing statement.</p>
          </div>
        </div>
        <br/>
        

      </div>
    </div>
  </div>






<!--------------------
-     PAGE CONTENT  
--------------------->
<div class="container mt--7 animated fadeIn">
  <div class="">
    <div class="card bg-secondary shadow">

      <div class="card-body">

        <div class="row">
          <div class="col-md-12">
            <small>TOTAL OUTSTANDING</small>
            <h1>R{{total_outstanding}}</h1>
          </div>
        </div>

        <hr/>


        <div class="service-provider row" *ngFor="let bill of billing_data; index as i" >

          <div class="col-md-2 item">
            <img width="120" src="{{bill.company_data?.company_logo}}" alt="">
          </div>

          <div class="col-md-2 item">
            <small>Total Waybills</small>
            <h2>{{bill.waybills.length}}</h2>
          </div>
          <div class="col-md-2 item">
            <small>Total Fees</small>
            <h2>R{{bill.total_transactions_amt}}</h2>
          </div>
          <div class="col-md-2 item">
            <small>Total Payments</small>
            <h2>R{{bill.total_payments}}</h2>
          </div>
          <div class="col-md-2 item">
            <small>Outstanding Payments</small>
            <h2>R{{bill.outstanding_payments}}</h2>
          </div>
          <div class="col-md-2 item last">
            <br/>
            <button type="button" class="btn btn-sm btn-outline-primary">Pay Account</button>
          </div>

        </div>
  
        


        <hr/>
       

      </div>

    </div>
  </div>
</div>