<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-7"></span>
  
    <div class="container-fluid">
      <div class="header-body animated fadeIn delay-1s">
        <!-- Card stats -->
        <div class="row">
          <div class="col">
            <h1 class="display-2 text-white">Customers</h1>
            <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
          </div>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">All</h5>
                    <span class="h2 font-weight-bold mb-0">{{numCustomers}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Billed Monthly</h5>
                    <span class="h2 font-weight-bold mb-0">{{customersBilledMonthly}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Prepaid</h5>
                    <span class="h2 font-weight-bold mb-0">{{customersPrepaid}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                    <span class="h2 font-weight-bold mb-0">49,65%</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>


      </div>
    </div>
  </div>






<!--------------------
-     PAGE CONTENT  
--------------------->
  <!-- Dark table -->
  <div class="container mt--7 animated fadeIn">
    <div class="">
      <div class="card bg-default shadow">
        <!-- <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Card tables</h3>
        </div> -->
        <div class="table-responsive">
          <table  class="table align-items-center table-dark table-flush animated fadeIn waybills-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Names</th>
                <th scope="col">Surname</th>
                <th scope="col">Phone_No</th>
                <th scope="col">Email</th>
                <!-- <th scope="col">Accept Terms</th> -->
                <th scope="col">Billing Type</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr class="single-waybill" *ngFor="let customer of customers; index as i" (click)="getSingleCustomer(customer.user_id)" > 
                <td>{{ customer.user_id }}</td>
                <td>{{ customer.names }}</td>
                <td>{{ customer.surname }}</td>
                <td>{{ customer.phone_no }}</td>
                <td>{{ customer.user_email }}</td>
                <!-- <td>{{ customer.accept_terms }}</td> -->
                <td>{{ customer.billing_type }}</td>
                
                
                <!-- <td>{{ waybill.date_created }}</td>
                <td>{{ waybill.cust_name }} {{ waybill.surname }}</td>
                <td>{{ waybill.service_type }}</td>
                <td>{{ waybill.collection_branch }}</td>
                <td>{{ waybill.payment_status }}</td> -->
                <!-- <td>
                  <span class="badge {{d_status_badge_table}}" [ngClass]="d_status_badge_table">
                    {{ waybill.delivery_status }}
                   </span>
                </td> -->
                <!-- <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                    </div>
                  </div>
                </td> -->
                
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
