/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';

body {
    background-color: #eceef7 !important;
    // background-image: url('assets/img/theme/map-bg.jpg');
}

body .bg-gradient-danger {
    background: linear-gradient(87deg, #000000 0, #3c1920 100%) !important;
}

.footer {
    background: transparent !important;
    padding: 2.5rem 0;
}

.navbar-horizontal .navbar-brand img {
    height: 55px !important;
}

.navbar-vertical .navbar-nav .nav-link > i {
    min-width: auto !important; 
    font-size: 0.9375rem;
    line-height: normal !important; 
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.address-bar{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

hr {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem  !important;
}

.address-bar.to {
    background-color: #f4f5fb;
}
.col-xl-12.order-xl-1 {
    margin-bottom: 1.5rem;
}

.hidden{
    display: none !important;
}

.navbar-vertical.navbar-expand-md{
    background-color:  #1c345d !important ;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(29,161,242,1.00) !important; 
    font-weight: bold !important;
}


.card{
    border: 0px !important;
    border-radius: 0px !important;
}

.card.bg-default.shadow {
    border: 0px;
    border-radius: 15px !important;
    overflow: hidden;
}



.card.bg-secondary.shadow {
    background-color:#ffffff !important;
    .card-header{
        border-bottom: 1px solid #eaeaea !important;
        h3{
            font-weight: bold;
        }
    }
}



.quote_terms_agree.checkbox {
    margin-bottom: 1rem;
}

.form-control-alternative {
    box-shadow: none !important;
    border: 1px solid #7499d8 !important;
    border-radius: 0px !important;
}

.filter-card{
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: #172b4d !important;
        .h2{
            color: #ffffff !important;
        }
    }
}

.filter-card.active {
    background-color: #172b4d !important;
    .h2{
        color: #ffffff !important;
    }
}


.waybills-table{
    .single-waybill{
        cursor: pointer;
        &:hover{
            background-color: #1c345d !important;
        }
    }
}


.new-parcel-container{
    align-items: center;
}

.remove-parcel {
    border-radius: 50% !important;
    width: 35px;
    height: 35px;
    padding: initial !important;
}


.view_qoute_screen{
	width: 101vw;
	height: 100vh;
	position: fixed;
	z-index: 99;
	/*background-color:#000000f2 ;*/
    background-color:#ffffff !important;
	top: 0;
	left: 0;
    overflow-y: scroll;
    display: none !important;
    
    .paid_online_badge {
        border: 3px solid #000 !important;
        color: #000 !important;
    }

    .view_overlay {
        position: fixed;
        background-color:#f5efef !important;
        width: 80vw;
        height: 100vh;
        overflow: scroll;
        top: 0;
        z-index: 999;
        left: 0;
        box-shadow: aliceblue;
        padding: 3em;
        margin-bottom: 0;
        overflow-x: hidden !important;
    }

    .quote_action_menu {
        position: fixed;
        right: 0em;
        top: 0;
        padding-top: 5rem !important;
        padding: 2em;
        overflow: scroll;
        height: 100vh;
        padding-bottom: 3rem;

        ul{
            list-style-type: none;
            padding: 0 !important;
        }
        .close_edit {
            position: absolute;
            right: 1.7rem;
            top: 1.7rem;
        }
    }

    .row.collection-details .card {
        margin: 0.2rem auto !important;
        max-width: 48% !important;
        padding: 1rem;
    }

    .general-details {
        align-items: baseline;
    }

    .form-control{
        margin-bottom: 0.8rem;
        padding: 0.5rem;
        color: #000000;
    }


}

.view_qoute_screen.active{
    display: flex !important;
}

a.nav-link.incomplete {
    color: #ff4a4a !important;
}

.view_qoute_screen .locations .card {

    color: #fff;
    background-color: #172b4d !important;
}

.view_qoute_screen .locations .card .card-title{
    color: #ffffff;
}

.view_qoute_screen .locations .card hr{
    border: 1px dotted rgb(97, 89, 144);
}

.view_qoute_screen thead {
    background-color: #cac7c7 !important;
    border: 0px;
    font-weight: bold !important;
}

div#toast-container {
    padding: 2rem;
}

.form-control {
    font-size: 0.875rem;
    color: #000000 !important;
}

.toast-container.toast-top-center .ngx-toastr, .toast-container.toast-bottom-center .ngx-toastr {
    width: max-content !important;
}

.loading-text{
    margin-top: 2rem;
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 97% !important;
}

.toast-container .ngx-toastr {
    padding: 12px 20px 12px 60px !important;
    border-radius: 12px !important;
}

.action_menu_container{
    margin-bottom: 1rem !important;
}

.change_tracking_action.admin_action,
.select_driver_action.admin_action {
    background-color: #f5efef;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

table td {
    padding: 5px 15px !important;
}

table.waybills-table td {
    padding: 15px 15px !important;
}

span.delivered {
    color: #ffffff !important;
    background-color: #1d9e1d;
    letter-spacing: 1px;
}

span.in_transit {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    letter-spacing: 1px;
}

span.pickup,
span.collection {
    color: #ffffff !important;
    letter-spacing: 1px;
}

span.cancelled {
    color: #ffffff !important;
    background-color: #b91616;
    letter-spacing: 1px;
}

span.at_branch {
    color: #ffffff !important;
    background-color: #6363f7;
    letter-spacing: 1px;
}

span.pending {
    color: #282880;
    background-color: #ecec15;
    letter-spacing: 1px;
}

.main_services {
    display: flex;
    width: 100%;
    text-align: center;
    .form-check {
        background-color: #1c345d !important;
        color: #ffffff !important;
        font-weight: bold;
        margin: 0rem;
        margin-right: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;

        input[type=radio], input[type=checkbox] {
            box-sizing: border-box;
            padding: 0;
            width: 20px;
            height: 20px;
            margin-top: 2px;
            margin-left: -27px;
        }
    }
}

.service-provider-container {
    background-color: #f5f5f5 !important;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    padding: 1rem 0rem;
    vertical-align: middle;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px !important;

     h3 {
        color: #1da1f2;
    }

    h2 {
        color: #1c345d;
    }

}

.service-provider-container.selected {
    background-color: #bff794 !important;
    transition: all .3s ease-in-out;
    h3 {
        color: #4659c5 !important;
    }
}

.is_selected {
    p{
        display: inline-flex;
        color: #ffffff;
        background-color: #77b746;
        padding: 5px 10px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 0px !important;
        font-weight: 500;
        i {
            border: 1px solid #ffffff;
            padding: 5px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            margin-right: 0.5rem;
        }
    }
}

.checked {
    color: orange;
}

.form-check-label {
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: inherit;
    letter-spacing: 1px;
    color: #079ad9;
}

.additional_rates {
    padding: 1rem 1.5rem !important;
}

.company_logo {
    background-color: #ffffff;
    padding: 5px;
    margin-left: 10px;
    img {
        width: 100%;
    }
}

.courier-links a {
    font-size: 13px;
    margin-right: 1rem;
}


.form-check-input {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-right: 16px;
}

.extra_rate {
    margin-bottom: 0.4rem;
}

.success-icon {
    margin-bottom: 1rem;
    img {
        width: 60px;
    }
}

.quote-table.animated.fadeIn {
    border: 2px dotted;
}

.tracking-info .card-profile-image img {
    position: relative !important;
    box-shadow: none !important;
    transform: initial !important;
    left: 0 !important;
    margin-bottom: 1rem !important;
    margin-top: 1.5rem;
}

ul.tracking.statuses {
    list-style-type: none;
    display: flex;
    padding-left: 0;

    li {
        background-color: #f1ecec;
        margin-right: 10px;
        padding: 10px 15px;
        display: flex;
        color: #ffffff;
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }

    li.active {
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.55) !important;
        background-color: #1c345d !important;
        font-weight: 800;
    }
}

$primary-color: #079ad9;



.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //set dimensions for invisible container
  .input-container {
    position: relative;
    width:  9rem;
    margin: 0.5rem;

    //make actual radio input invisible
    // + stretch to fill container
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    //default tile styles
    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid $primary-color;
      border-radius: 5px;
      padding: 1rem;
      transition: transform 300ms ease;
    }
    .icon svg {
      fill: $primary-color;
      width: 3rem;
      height: 3rem;
    }
    .radio-tile-label {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $primary-color;
      margin-bottom: 0px !important;
    }

    //active tile styles
    .radio-button:checked + .radio-tile {
      background-color: $primary-color;
      border: 2px solid $primary-color;
      color: white;
      transform: scale(1.1, 1.1);
      
      .icon svg {
        fill: white;
        background-color: $primary-color;
      }
      .radio-tile-label {
        color: white;
        background-color: $primary-color;
      }
    }
  }
}


// ACCOUNT BILLING
.service-provider {
    background-color: #f9f5f5;
    margin-bottom: 0.8rem;
    padding: 1rem;

    .item {
        border-right: 1px dotted #d8cfcf;
    }

    .item.last {
        border-right: 0px !important;
    }
}