<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-7"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center animated fadeIn">
      <div class="row">
        <div class="col">
          <h1 class="display-2 text-white">Settings</h1>
          <p class="text-white ">Change a few things to make the system best work for you.</p>
          <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
        </div>
      </div>
    </div>
  </div>


<!--------------------
-     PAGE CONTENT  
--------------------->
<div class="container mt--7 animated fadeIn">
  <div class="">
    <div class="card bg-secondary shadow">

      <div class="card-body">
       

      </div>

    </div>
  </div>
</div>