<ngx-spinner
bdColor="rgba(0,0,0,0.9)"
>
  <p style="font-size: 16px; color: white"> {{loading_msg}} </p>
</ngx-spinner>

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-6"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center animated fadeIn delay-1s">
      <div class="row">
        <div class="col">
          <h1 class="display-2 text-white">Track Parcel</h1>
          <p class="text-white ">Enter your tracking number and lets find that parcel.</p>
          <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--7 animated fadeIn">
    <div class="row">


      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">

          <div class="card-header">
            <form [formGroup]='trackingFormGroup' >
              <label class="form-control-label" for="input-username">Waybill or tracking Number</label>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input formControlName="waybill_no" type="text" id="input-username" class="form-control form-control-alternative" placeholder="" value="">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" (click)="submitFormRequest()">Find Parcel </button>
                    </div>
                  </div>
                </div>
              

            </form>
          </div>

          <div class="card-body">
           


            <div class="tracking-info" [hidden]="!dataFound">

              <div class="row">
                
                <div class="col-md-4">
                  <div class="card card-profile">

                    <div class="row justify-content-center">
            
                        <div class="card-profile-image">
                          <a href="#">
                            <img src="{{tracking_data.service_provider?.company_logo}}" alt="">
                          </a>
                        </div>

                    </div>

                    <div class="card-body pt-0">

                      <div class="text-center">
                        <div class="h5 font-weight-300">
                          <i class="ni location_pin mr-2"></i>Your parcel will be delivered by
                        </div>
                        <h5 class="h3">
                          {{tracking_data.service_provider?.company_name}}
                        </h5>
                        
                        <div class="h5 mt-4">
                          <i class="ni business_briefcase-24 mr-2"></i> <a href="tel:{{tracking_data.service_provider?.contact_no}}"> {{tracking_data.service_provider?.contact_no}} </a>
                        </div>
                        <div>
                          <i class="ni education_hat mr-2"></i><a href="mailto:{{tracking_data.service_provider?.email_address}}"> {{tracking_data.service_provider?.email_address}} </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-md-8">

                  <div>
                    <ul class="tracking statuses">
                      <li [ngClass]="{'active': tracking_data.waybill?.delivery_status=='pending' }">Pending payment</li>
                      <li class="" [ngClass]="{'active': tracking_data.waybill?.delivery_status=='pickup' }">Waiting for pickup</li>
                      <li [ngClass]="{'active': tracking_data.waybill?.delivery_status=='at_branch' }">At Branch</li>
                      <li [ngClass]="{'active': tracking_data.waybill?.delivery_status=='in_transit' }">In Transit</li>
                      <li [ngClass]="{'active': tracking_data.waybill?.delivery_status=='delivered' }">Delivered</li>
                    </ul>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <small>Last updated:</small>
                       <p> {{tracking_data.waybill?.date_modified}} </p>
                    </div>
                    <div class="col-md-6">
                      <small>Note:</small>
                      <p>{{tracking_data.waybill?.delivery_note}}</p>
                    </div>

                  </div>
                    
                  <hr/>
                  <div>
                    <small>Picked up at:</small>
                    <p> {{tracking_data.waybill?.pickup_address}}  <span class="badge badge-primary"> {{tracking_data.waybill?.collection_branch}} </span> </p>

                    <small>Deliver to:</small>
                    <p> {{tracking_data.waybill?.destination_address}} <span class="badge badge-success"> {{tracking_data.waybill?.destination_branch}} </span> </p>
                  </div>
                  
                  
                </div>
              </div>  
            </div>

            <div class="tracking-info" [hidden]="dataFound">
              <h3>
                No tracking data found.
              </h3>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  